body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
    background-image: url("table.jpg");
    background-size: cover;
}

h1 {
    color: goldenrod;
    

}

#message-el{
    font-style: italic;
    
}

button{
    color: green;
    background-color: goldenrod;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 260px;
    text-align: center;
}
